html,body {
margin: 0px;
}

.values {
   height:100vh;
   width: 100%;
   background: url('../img/pic2.png') no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;

}


.value-heading {
  margin-bottom: .3rem;
  font-size: 50px;

}
.value-description {
  opacity: .8;
  font-weight: 300;
  font-size: 17px;
}

.header {
    margin-top: 10rem;
    text-align: center;
}

.transparentStyle{
  background-color:transparent;
  border-color: #E6E6E6;
}

.automargin{
  position:relative;;
  top:50%;
  color: #fff;
  margin: auto;
  text-align: center;
  transform: translateY(100%);
}

small{
  font-size: 20px;
}

table{
  table-layout:fixed;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 0%;
    margin-bottom: 50%;
    margin-left: 25%;
    margin-right: 10%;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.title{
  font-weight: bold;
  text-align: center;
}

.resizeimg{
  height: 200px;
  overflow: hidden;
}

/*Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FFFFFF;
    color: white;
}

.modal-body {
  padding-top: 20px;
  margin-right: 110px;
  margin-left: 120px;
  margin-left: 120px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
